.*.swp
*.o
*.bin
*.vec
*.bc
.DS_Store
data
result
website/node_modules/
package-lock.json
node_modules/

__pycache__/
*.py[cod]
*.pyo
.Python
env/
.env
.venv/

build/
dist/
*.egg-info/
*.egg

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

.vscode/
